.background {
  position: relative; /* Makes it stick across scrolling */
  top: 0;
  left: 0;
  height: 400vh;
  background: #000000; /* Black color stays intact */
  z-index: -99; /* Sends it behind the other elements */
  overflow: hidden; /* Avoid overflow issues */
}

/* Remove the universal selector rule */

.ellipse2,
.ellipse3,
.ellipse6,
.ellipse7,
.ellipse8,
.ellipse9 {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  animation: moveEllipse 3s infinite alternate ease-in-out;
}

.ellipse8 {
  background: #9900ff;
  width: 200px;
  height: 200px;
  left: 2%;
  top: 30%;
}

.ellipse9 {
  background: #3bcdfd;
  width: 200px;
  height: 200px;
  left: 85%;
  top: 38%;
}

/* Individual ellipse styles */
.ellipse2 {
  background: #9900ff;
  width: 400px;
  height: 294px;
  left: 60%;
  top: 8%;
}

.ellipse7 {
  background: #9900ff;
  width: 400px;
  height: 200px;
  left: 50%;
  top: 80%;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .ellipse2 {
    top: 12%;
    left: 20%;
    width: 0px; /* Adjust this value as needed */
  }

  .ellipse8 {
    left: -10%;
    top: 20%;
    width: 200px;
  }

  .ellipse9 {
    left: 60%;
    top: 35%;
    width: 200px;
  }

  .ellipse7 {
   top: 70%;
  }
}



.ellipse6 {
  background: #9747ff;
  width: 453px;
  height: 363px;
  left: 50%;
  top: 2591px;
  animation-delay: 4s;
}


/* Keyframes for smooth elliptical movement */
@keyframes moveEllipse {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50px, -30px);
  }
  50% {
    transform: translate(-50px, 50px);
  }
  75% {
    transform: translate(30px, -50px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.glassPillars {
  position: absolute;
  inset: 0;
}

.rectangle2,
.rectangle3,
.rectangle4,
.rectangle5,
.rectangle6,
.rectangle7,
.rectangle8,
.rectangle9,
.rectangle10,
.rectangle11,
.rectangle12,
.rectangle13,
.rectangle14,
.rectangle15,
.rectangle16 {
  background: linear-gradient(
    90deg,
    rgba(217, 217, 217, 0) 0%,
    rgb(0, 0, 0) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.3;
  width: 7%;
  height: 6934px;
  position: absolute;
  top: 0px;
}

.rectangle2 {
  left: 0%;
}
.rectangle3 {
  left: 7%;
}
.rectangle4 {
  left: 14%;
}
.rectangle5 {
  left: 21%;
}
.rectangle6 {
  left: 28%;
}
.rectangle7 {
  left: 34%;
}
.rectangle8 {
  left: 40%;
}
.rectangle9 {
  left: 47%;
}
.rectangle10 {
  left: 54%;
}
.rectangle11 {
  left: 61%;
}
.rectangle12 {
  left: 68%;
}
.rectangle13 {
  left: 75%;
}
.rectangle14 {
  left: 82%;
}
.rectangle15 {
  left: 89%;
}
.rectangle16 {
  left: 96%;
}
